<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Subin's Portfolio</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <p class="navbar-brand" href="#">Subin's Portfolio</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/kimddub" target="_blank">GO TO GIT
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('image/bmg.png');">
    <img class="img-fluid d-block mx-auto" src="image/logo.png" alt="" onclick="location.href='http://www.daumsoft.com/index.html';" style="cursor:pointer;">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container" style="position:relative;">
      <h1>Kim Subin</h1>
      <p class="lead">Daumsoft TSC(the Smart Center)</p>
      <ul>
        <li>1996.10.24</li>
        <li>Web Development</li>
        <li>kimddub@gamil.com</li>
        <li><a href="https://github.com/kimddub">kimddub's Git</a></li>
      </ul>

      <h3>Skillset</h3>
      <ul>
        <li>JAVA/JSP</li>
        <li>Spring</li>
        <li>Javascript/jQuery</li>
        <li>Web Crawling application</li>
        <li>Chart visualizing application</li>
        <li>BigData API application</li>
      </ul>

      <div style="position:absolute; display:inline-block; top: 10%; left:auto; right:50px; text-align:right; color:white; font-size:30px; font-weight:bold;">
          <div style="margin-top:20px; width:150px; height:150px; background-color:khaki; cursor:pointer;">+</div>
          <div style="margin-top:30px; width:150px; height:150px; background-color:lightgray; cursor:pointer;">+</div>
      </div>

      <div style="position:absolute; display:inline-block; top: 10%; left:auto; right:230px; text-align:right; color:white; font-size:30px; font-weight:bold;">
          <div style="margin-top:20px; width:150px; height:150px; background-color:lightgray; cursor:pointer;">+</div>
          <div style="margin-top:30px; width:150px; height:150px; background-color:khaki; cursor:pointer;">+</div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; kimddub@gamil.com</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
